.container
{
	width:1000px;
	margin:0 auto;
	over-flow:hidden;
	
}
.inner
{
	padding:0 30px;
	
}
.flr
{
	float:right;
}
.fll
{
	float:left;
}
.block-break
{
	margin-bottom:80px;
}

.block-1
{
	width:50%;
	display: inline-block

}
.block-2
{
	width:48%;
	display: inline-block

}

img
{
	max-width:100%;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
.box
{
   
    margin-bottom: 30px;
}
.center
{
text-align:center;
}
