.container
{
	width:1000px;
	margin:0 auto;
	over-flow:hidden;
	
}
.inner
{
	padding:0 30px;
	
}
.flr
{
	float:right;
}
.fll
{
	float:left;
}
.block-break
{
	margin-bottom:80px;
}

.block-1
{
	width:50%;
	display: inline-block

}
.block-2
{
	width:48%;
	display: inline-block

}
.box div:last-child;
{
	width:48%!important;
}
img
{
	max-width:100%;
}

.clearfix
{
	display:block;
}
.box
{
    height: 340px;
    margin-bottom: 30px;
}
.center
{
text-align:center;
}
